.activity-stats-container{
    // width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

.activity-stats-card{
    padding: 1rem;
    margin: .25rem;
    border-radius: .5rem;
    width: 15rem;
    // background-color: rgb(37, 37, 37);
    // color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #bcbcbcbe;

    .icon{
        background-color: #373dad;
        color: white;
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

   div p {
        margin: 0px;
    }

    div h2 {
        margin: 0px;
    }

}