.header-container {
    // background-color: rgb(24, 24, 24);
    display: flex;
    justify-content: space-between;
    color: white;

    .logo-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: .5rem;

        .logo {
            height: 2rem;
            padding-right: .25rem;
            filter: invert(100);
        }

        .logo-title{
            font-size: 1.5rem;
            font-family: 'Alfa Slab One', cursive;
        }
    }

    .navigation{
        display: flex;
        flex-direction: row;

        p{
            padding-right: 1rem;
            cursor: pointer;
        }

    }
}