.overview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overview-card {
    width: 1200px;
    min-height: 100vh;
    background-color: rgb(245, 245, 245);
    border-radius: .25rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;

    .title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 1rem;
        margin-right: 1rem;
        border-bottom: 1px solid rgba(188, 188, 188, 0.746);
    }

    .user-data-container {
        padding: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        .user-data {
            width: 25rem;

            .card{
                border: 1px solid #bcbcbcbe;
                padding: 1rem;
                margin: .5rem;
                border-radius: .5rem;
            }
        }

        .chart {
            width: fit-content; 
            margin-bottom: 2rem;
        }
    }
}