.overview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overview-card {
    width: 1200px;
    min-height: 100vh;
    background-color: rgb(245, 245, 245);
    border-radius: .25rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;

    .title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 1rem;
        margin-right: 1rem;
        border-bottom: 1px solid rgba(188, 188, 188, 0.746);
    }


    .user-data-container {
        padding: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .user-data {
            width: 25rem;

            .card{
                border: 1px solid #bcbcbcbe;
                padding: 1rem;
                margin: .5rem;
                border-radius: .5rem;
            }
        }


        .chart {
            width: fit-content;
            margin-bottom: 2rem;

            .outlined-button {
                background-color: rgb(64, 54, 172);
                border: 2px solid rgb(64, 54, 172);
                color: white;
                font-weight: 700;
                padding: 10px 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 32px;
                margin: 10px;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
            }
        }
    }
}